@charset "utf-8";
/* CSS Document */

.title{
	font-size: 60px;
		font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.quote{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 25px;
}
.navigation{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #457EAF;
	clear: right;
}
.navigation  {
	list-style: none;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	letter-spacing: 3px;
	margin-left: auto;
	text-align: center;
	width: 100%;
	transition: all 0.3s linear;
	color:#000000
}
.navigation :hover {
	color: #FFFFFF;
}
.container{
	max-width: 1200px;
	margin:auto;
	overflow:auto
}
.image{
	margin:5px;
	float:left;
	width:340px;
}
.falling{
	margin-top:25px;
}